* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 777px;
  height: 444px;
  border: 1px solid blueviolet;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -5px 5px 10px rgb(138,43,226,0.3), 5px 5px 10px rgb(138, 43, 226, 0.3);

}

img {
  display: block;
  max-width: 100%;
  height: auto;

}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  padding: 5px 10px;
  border-color: blueviolet;
}

button:hover {
  background-color: lightgrey;
  border-color: aqua;
}